body{
    background: linear-gradient(to bottom right,#A200D6,#D60014);
    height: 100vh;
}

main{
    width: 95%;
    height: 95%;
    margin: 2.5%;
    background-color: white;
    display: felx;
    align-items: center;
}

.pl1{

    text-align: center;
    background-color: rgb(213, 24, 24);
}

.pl2{

    text-align: center;
    background-color: rgb(100, 201, 245);
}

.gamecontrol{

    text-align: center;
    background-color: rgb(134, 213, 24);
}